<div>
  <%= link_to('Add Link', :new_link) %>
</div>

<% @links.each do |link| %>
  <div class="link">
    <%= link_to(link.title, link.url) %>
    <% if link.tags %>
      <div class="tags">
        <% link.tags.each do |t| %>
          <%= link_to(t, links_path(tag: t.to_s)) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>